
  .google-map {
    display: flex;
    flex-grow: 1;
    height: 60vh;
    min-height: 700px;
  }
  
  .pin {
    text-align: center;
    display: flex;
    width: 10px;
    color: var(--main-blue);
    position: fixed;
    transform: translate(-34%, -70%);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (min-width: 799px) {

    .pin {
      width: 4vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    } 
  }