.search-float{
    display: flex;
    width:100%;
    float:right;
    height: 50%;
    box-sizing: border-box;
    border: solid;
    border-width: 3px;
    border-color:#f6dfdf;
    flex-direction: row;
    padding-bottom: 150px;
  } 

.side-menu{
    width: 100%;
    float:left;
    height:50%;
    box-sizing:border-box;
    border: solid;
    border-width: 3px;
    border-color:#f6dfdf;
    flex-direction: row;
}

.floater {
    column-count: 2;
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

