.float {
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.profile-container {
background-color: #f6dfdf;
padding: 7rem 25rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.box{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 25px;
    margin: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(230, 229, 229);
    border-radius: 5px;
    max-width: 500px;
    min-width: 350px;
}

.large-text{
    font-size: 35px;
    line-height: 200%;
}

.line{
    border-top: 2px transparent black;
    width:50%;
    margin:10px auto;
}

.changepass-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.changepass-form-input{
    padding: 10px;
    margin: 1px;
    border-color:rgb(230, 229, 229);
    border-width: 1px;
    border-style: solid;
}